@font-face {
  font-family: TinyPragmataProVF;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProVF_09-normal-latin.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProVF_09-normal-latin.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: TinyPragmataProVF;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProVF_09-normal-greek.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProVF_09-normal-greek.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: TinyPragmataProVF;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProVF_09-normal-cp437.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProVF_09-normal-cp437.woff) format('woff');
  unicode-range: U+2018, U+201C, U+2022, U+203C, U+207F, U+2190-2195, U+21A8, U+2219, U+221A, U+221F, U+2264, U+2265, U+2302, U+2320, U+2321, U+2500-259F, U+25A0, U+25AC, U+25B2, U+25BA, U+25BC, U+25C4, U+25CB, U+25D8, U+25D9, U+263B, U+263C, U+2640, U+2642, U+2660, U+2663, U+2665, U+2666, U+266A, U+266B;
}

@font-face {
  font-family: TinyPragmataProVF;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProVF_09-normal-latin.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProVF_09-normal-latin.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: TinyPragmataProVF;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProVF_09-normal-greek.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProVF_09-normal-greek.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: TinyPragmataProVF;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProVF_09-normal-cp437.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProVF_09-normal-cp437.woff) format('woff');
  unicode-range: U+2018, U+201C, U+2022, U+203C, U+207F, U+2190-2195, U+21A8, U+2219, U+221A, U+221F, U+2264, U+2265, U+2302, U+2320, U+2321, U+2500-259F, U+25A0, U+25AC, U+25B2, U+25BA, U+25BC, U+25C4, U+25CB, U+25D8, U+25D9, U+263B, U+263C, U+2640, U+2642, U+2660, U+2663, U+2665, U+2666, U+266A, U+266B;
}

@font-face {
  font-family: TinyPragmataProVF;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProVF_Italic_09-italic-latin.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProVF_Italic_09-italic-latin.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: TinyPragmataProVF;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProVF_Italic_09-italic-greek.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProVF_Italic_09-italic-greek.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: TinyPragmataProVF;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProVF_Italic_09-italic-cp437.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProVF_Italic_09-italic-cp437.woff) format('woff');
  unicode-range: U+2018, U+201C, U+2022, U+203C, U+207F, U+2190-2195, U+21A8, U+2219, U+221A, U+221F, U+2264, U+2265, U+2302, U+2320, U+2321, U+2500-259F, U+25A0, U+25AC, U+25B2, U+25BA, U+25BC, U+25C4, U+25CB, U+25D8, U+25D9, U+263B, U+263C, U+2640, U+2642, U+2660, U+2663, U+2665, U+2666, U+266A, U+266B;
}

@font-face {
  font-family: TinyPragmataProVF;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProVF_Italic_09-italic-latin.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProVF_Italic_09-italic-latin.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: TinyPragmataProVF;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProVF_Italic_09-italic-greek.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProVF_Italic_09-italic-greek.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: TinyPragmataProVF;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProVF_Italic_09-italic-cp437.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProVF_Italic_09-italic-cp437.woff) format('woff');
  unicode-range: U+2018, U+201C, U+2022, U+203C, U+207F, U+2190-2195, U+21A8, U+2219, U+221A, U+221F, U+2264, U+2265, U+2302, U+2320, U+2321, U+2500-259F, U+25A0, U+25AC, U+25B2, U+25BA, U+25BC, U+25C4, U+25CB, U+25D8, U+25D9, U+263B, U+263C, U+2640, U+2642, U+2660, U+2663, U+2665, U+2666, U+266A, U+266B;
}

@font-face {
  font-family: TinyPragmataProMonoVF;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_09-normal-latin.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_09-normal-latin.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: TinyPragmataProMonoVF;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_09-normal-greek.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_09-normal-greek.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: TinyPragmataProMonoVF;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_09-normal-cp437.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_09-normal-cp437.woff) format('woff');
  unicode-range: U+2018, U+201C, U+2022, U+203C, U+207F, U+2190-2195, U+21A8, U+2219, U+221A, U+221F, U+2264, U+2265, U+2302, U+2320, U+2321, U+2500-259F, U+25A0, U+25AC, U+25B2, U+25BA, U+25BC, U+25C4, U+25CB, U+25D8, U+25D9, U+263B, U+263C, U+2640, U+2642, U+2660, U+2663, U+2665, U+2666, U+266A, U+266B;
}

@font-face {
  font-family: TinyPragmataProMonoVF;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_09-normal-latin.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_09-normal-latin.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: TinyPragmataProMonoVF;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_09-normal-greek.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_09-normal-greek.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: TinyPragmataProMonoVF;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_09-normal-cp437.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_09-normal-cp437.woff) format('woff');
  unicode-range: U+2018, U+201C, U+2022, U+203C, U+207F, U+2190-2195, U+21A8, U+2219, U+221A, U+221F, U+2264, U+2265, U+2302, U+2320, U+2321, U+2500-259F, U+25A0, U+25AC, U+25B2, U+25BA, U+25BC, U+25C4, U+25CB, U+25D8, U+25D9, U+263B, U+263C, U+2640, U+2642, U+2660, U+2663, U+2665, U+2666, U+266A, U+266B;
}

@font-face {
  font-family: TinyPragmataProMonoVF;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_Italic_09-italic-latin.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_Italic_09-italic-latin.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: TinyPragmataProMonoVF;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_Italic_09-italic-greek.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_Italic_09-italic-greek.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: TinyPragmataProMonoVF;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_Italic_09-italic-cp437.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_Italic_09-italic-cp437.woff) format('woff');
  unicode-range: U+2018, U+201C, U+2022, U+203C, U+207F, U+2190-2195, U+21A8, U+2219, U+221A, U+221F, U+2264, U+2265, U+2302, U+2320, U+2321, U+2500-259F, U+25A0, U+25AC, U+25B2, U+25BA, U+25BC, U+25C4, U+25CB, U+25D8, U+25D9, U+263B, U+263C, U+2640, U+2642, U+2660, U+2663, U+2665, U+2666, U+266A, U+266B;
}

@font-face {
  font-family: TinyPragmataProMonoVF;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_Italic_09-italic-latin.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_Italic_09-italic-latin.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: TinyPragmataProMonoVF;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_Italic_09-italic-greek.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_Italic_09-italic-greek.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: TinyPragmataProMonoVF;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_Italic_09-italic-cp437.woff2) format('woff2'),
       url(https://worker.jart.workers.dev/fonts/PragmataProMonoVF_Italic_09-italic-cp437.woff) format('woff');
  unicode-range: U+2018, U+201C, U+2022, U+203C, U+207F, U+2190-2195, U+21A8, U+2219, U+221A, U+221F, U+2264, U+2265, U+2302, U+2320, U+2321, U+2500-259F, U+25A0, U+25AC, U+25B2, U+25BA, U+25BC, U+25C4, U+25CB, U+25D8, U+25D9, U+263B, U+263C, U+2640, U+2642, U+2660, U+2663, U+2665, U+2666, U+266A, U+266B;
}
